<footer class="footer">
    <div class="container">
    	<div class="copyright pull-right">
            &copy; 2016, Desenvolvido por um grupo voluntário de empreendedores.
            <br />
            <a style="color: #8a6d3b" href="https://br.linkedin.com/in/bitmarques" target="_blank">Joel Marques</a> | 
            <a style="color: #8a6d3b" href="https://br.linkedin.com/in/manoelneto650" target="_blank">Manoel Neto</a> |
            <a style="color: #8a6d3b" href="https://br.linkedin.com/in/weslleytavares" target="_blank">Weslley Tavares</a>
        </div>
    </div>
</footer>