 <div class="container">
  <h2>Trabalhos Acadêmicos Originados</h2>
  <h6>Projeto > {{tituloProjeto}}</h6>
  <p>Listagem</p>
  
  <a id="voltar" name="voltar" class="btn btn-warning" href="#/projeto">Voltar</a>
                                                                           
  <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
      	<th>Título</th>
      	<th>Autores</th>
      	<th>Evento</th>
      	<th>Arquivo</th>
        <th><a href="" ng-click="novo()"><i class="icon-plus-sign"></i>Novo</a></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="trabalho in trabalhosAcademicos">
      	<td>{{trabalho.titulo}}</td>
      	<td>{{trabalho.autores}}</td>
      	<td>{{trabalho.evento}}</td>
      	<td><a href="{{trabalho.urlArquivo}}" target="_blank">Ver</a></td>
        <td>
          <a href="" ng-click="editar(trabalho.id)"><i class="icon-pencil"></i>Editar</a>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>